body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Container geral */
.container {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Cabeçalho */
.header {
    height: 40px;
    background-color: #2c4a6e;
    color: white;
    text-align: center;
    padding: 15px;
}

.header h1 {
    margin: 0;
    font-size: 20px;
}

.header p {
    margin: 5px 0 0;
    font-size: 12px;
}

/* Caixa de login */
.login-box {
    padding: 20px;
}

.login-box h2 {
    color: #555;
    font-size: 16px;
    border-left: 4px solid #2c4a6e;
    padding-left: 10px;
}

/* Labels */
label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #2c4a6e;
    font-weight: bold;
}

/* Inputs */
input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.botao{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.botao button{
    background-color: #2c4a6e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.botao button:hover{
    background-color: #1f3550;
    transition: 3s;
}
/* Esqueci senha */
.link {
    text-align: right;
    margin-top: 10px;
}

.link a {
    font-size: 12px;
    color: #2c4a6e;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

/* Texto obrigatório */
.aviso {
    font-size: 12px;
    color: red;
    margin-top: 15px;
}

/* Rodapé */
.footer {
    background-color: #e0e0e0;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #555;
}